*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin: 0;
  background-color: #f7a398;
  font-family: "Quicksand", sans-serif;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 50px;
  margin: 50px;
  background-color: #ebdac4;
}
.card-left {
  width: 50%;
  text-align: center;
  padding: 30px;
  line-height: 1.5;
}
.card-left p {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.02rem;
  font-style: normal;
}
.card-left h1 {
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  font-weight: normal;
  letter-spacing: 0.02rem;
  font-style: normal;
  position: relative;
  animation-name: AJ-animation;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
.card-left h2 {
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 0.02rem;
  font-style: normal;
}
.card-left span {
  font-size: 50px;
  font-weight: 400px;
  letter-spacing: 0.02rem;
  font-style: normal;
}
.card-right {
  width: 50%;

  background-image: url("/Images/floral.png"); /* Background floral */
  background-repeat: no-repeat;
  background-position: center top;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 30px;
}

.card-right img {
  width: 350px;
  z-index: 2; /* above background */
}

.details span {
  transition: width 2s;
}
.details span:hover {
  width: 300px;
  height: 300px;
  background-color: orange;
}

@keyframes AJ-animation {
  0% {
    left: 0px;
  }
  50% {
    left: 200px;
  }
  100% {
    left: 0px;
  }
}

.animate__animated.animate__swing {
  --animate-duration: 8s;
  --animate-delay: 1s;
}

.animate__animated.animate__swing:hover {
  animation-play-state: paused;
}
